In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('taxi+_zone_lookup.csv', sep=',', index_col=False, dtype='unicode')

In [26]:
df.head()

  LocationID        Borough                     Zone service_zone
0          1            EWR           Newark Airport          EWR
1          2         Queens              Jamaica Bay    Boro Zone
2          3          Bronx  Allerton/Pelham Gardens    Boro Zone
3          4      Manhattan            Alphabet City  Yellow Zone
4          5  Staten Island            Arden Heights    Boro Zone

In [27]:
df['LocationID'] = df['LocationID'].astype(int)

In [28]:
df.dtypes

LocationID       int32
Borough         object
Zone            object
service_zone    object
dtype: object

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [31]:
pd.io.sql.get_schema(df,name='taxi_zone',con=engine)

'\nCREATE TABLE taxi_zone (\n\t"LocationID" INTEGER, \n\t"Borough" TEXT, \n\t"Zone" TEXT, \n\tservice_zone TEXT\n)\n\n'

In [32]:
df.to_sql(name='taxi_zone', con=engine, if_exists='append')

265

In [36]:
df['LocationID'] = df['LocationID'].astype(int)
print(df.dtypes)
df.to_sql(name='taxi_zone', con=engine, if_exists='append')

LocationID       int32
Borough         object
Zone            object
service_zone    object
dtype: object

265

In [22]:
from time import time

In [23]:
while True:
    t_start = time()
    df = next(df_iter)
    df['LocationID'] = df['LocationID'].astype(int)
    df.to_sql(name='taxi_zone', con=engine, if_exists='append')
    
    t_end = time()
    
    print('insert another chunk..., took %.3f second' % ( t_end- t_start))

NameError: name 'df_iter' is not defined